# practice 01

## Q1: Create a variable named `age` and assign your age to it.

In [1]:
age =35

## Q2: Create two variables, `city` and `country`, and assign your city and country to them.

In [2]:
city = 'aleppo'
country = 'syria'

## Q3: Combine `city` and `country` into a single string `location` and print it.

In [4]:
location = f"{city}, {country}"
print(location)

aleppo, syria

## Q4: Change the value of `age` to a different number and print it.

In [6]:
age = 40
print(age)

40

## Q5: Create a variable `height` and assign a float value representing your height in meters.

In [8]:
height= 1.9

## Q6: Check and print the data type of the `height` variable using the `type()` function.

In [9]:
type(height)

float

## Q7: Assign the value `True` to a variable named `is_student` and print the variable.

In [11]:
is_student=True
print(is_student)

True

## Q8: Create a variable `name` with your first name using double quotes and then another variable `surname` with your last name using single quotes. Combine them into `full_name`.

In [14]:
name = 'Bassel'
usrname="Alshahaby"
full_name=f"{name} {usrname}"
print(full_name)

Bassel Alshahaby

## Q9: Create two variables `x` and `y` and assign them integer values. Swap their values without using a third variable.

In [16]:
x= 100
y=10
x=100/2
y=y*5
x==y

True

## Q10: Write a statement to update the `age` variable by adding 5 to it.

In [17]:
age+=5
print(age)

45

## Q11: Create a variable `length` and assign it the value 15. Create another variable `width` and assign it 10. Calculate the area of a rectangle using these variables and print the result.

In [20]:
length =15
width=10
area_rect = length*width
print(area_rect)

150

## Q12: Using the variables `base` and `height`, calculate the area of a triangle and print it. Assume `base = 8` and `height = 5`.

In [22]:
base = 8
height = 5

area_tri=base*height/2
print(area_tri)

20.0

## Q13: Create a string variable `greeting` with the text "Hello" and another variable `recipient` with the text "World". Combine them with a space in between and print the result.

In [24]:

greeting = "Hello"
recipient = "World"


message = f"{greeting} {recipient}"


print(message)

Hello World

## Q14: Create a boolean variable `is_active` and set it to `False`. Then change its value to `True` and print it.

In [26]:
is_active = False
is_active = True

print(is_active)
type(is_active)

True

bool

## Q15: Using f-strings, print a formatted message: "My name is [name] and I am [age] years old." Replace [name] and [age] with the appropriate variables.

In [28]:
print(f"My name is : {full_name} and I am {age} years old")

My name is : Bassel Alshahaby and I am 45 years old

## Q16: Create a variable `pi` and assign it the value 3.14159. Print the variable, ensuring it only shows 2 decimal places.

In [29]:
pi = 3.14159

print(f"{pi:.2f}")

3.14

## Q17: Assign the value of a mathematical expression (e.g., `2 * (3 + 5)`) to a variable and print it.

In [30]:
val_01 = (10+20)*3
print(val_01)

90

## Q18: Create a variable `sentence` and assign it a sentence of your choice. Use slicing to print the first 5 characters.

In [32]:
sentence = "Create a variable sentence and assign it a sentence of your choice. Use slicing to print the first 5 characters."

first_5_characters = sentence[:5]

print(first_5_characters)

Creat

## Q19: Create a variable `number` with the value 100. Use an arithmetic operation to double its value and then print it.

In [34]:
number = 100
double_num = 2*number
print(double_num)

200

## Q20: Declare three variables `a`, `b`, and `c` with values 5, 10, and 15 respectively. Calculate and print their average.

In [35]:

a = 5
b = 10
c = 15

average = (a + b + c) / 3

print(average)

10.0